<ion-view view-title="Vacantes">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
   <!-- <div class="list" style="padding-top: 0px;">
      <div class="item item-input-inset" style="border: none;">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text"  placeholder="BusCar">
        </label>
        <button class="button button-small">
          OK
        </button>
      </div>
 </div>-->

 <ion-list ng-repeat="vacancy in vacancies">
   <ion-item class="item" style="border-top:none;color:#00428a;" type="item-text-wrap" ng-click="goDetailPage(vacancy._id)">
     <h2 style="font-weight: 600;color:#00428a;">{{vacancy.title}}</h2>
     <div style="font-size: 12px;">{{vacancy.deparment}}</div>
     <div style="font-size: 12px;">{{vacancy.description}}</div>
   </ion-item>
 </ion-list>

  </ion-content>

</ion-view>
